<a href="https://colab.research.google.com/github/RishiJaiswal1359/pyhton_new/blob/module_1/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic I/O

In [ ]:
x = int(input("Enter a Number: "))
print(x)

Enter a Number: 4
4

.format Datatypes

In [ ]:
x = int(input("Enter Number: "))
print(x, "is", type(x))

Enter Number: 4
4 is <class 'int'>

Arithmetic Operations

In [ ]:
a, b = map(int, input("Enter two numbers: ").split())
print("Sum: ", a+b)
print("Difference: ", a-b)
print("Product: ", a*b)
print("Quotient: ", a/b)

Enter two numbers: 4 1
Sum:  5
Difference:  3
Product:  4
Quotient:  4.0

Conversion of Units

In [ ]:
print("Choices")
print("1.Hour to Minutes")
print("2.Miles to Kms")
k = 'y'
while k == 'y' or k == 'Y':
  c = int(input("Enter your choice: "))
  if c == 1:
    time = int(input("Enter time in hours: "))
    print(time, " hrs = ", int(time*60), " mins.")
    k = input("Do you want to continue(y/n): ")
  elif c == 2:
    dist = int(input("Enter distance in miles: "))
    print(dist, " miles = ", (dist*1.609), " kms.")
    k = input("Do you want to continue(y/n): ")
  else: 
    print("INVALID INPUT!!!")
    k = input("Do you want to continue(y/n): ")

Choices
1.Hour to Minutes
2.Miles to Kms
Enter your choice: 1
Enter time in hours: 4
4  hrs =  240  mins.
Do you want to continue(y/n): y
Enter your choice: 2
Enter distance in miles: 4
4  miles =  6.436  kms.
Do you want to continue(y/n): y
Enter your choice: 3
INVALID INPUT!!!
Do you want to continue(y/n): n

Math Functions

In [ ]:
import math

a, b = map(float, input("Enter Numbers: ").split())
print("Ceil of ", a, " = ", math.ceil(a), "and Ceil of ", b, " = ", math.ceil(b))
print("Floor of ", a, " = ", math.floor(a), " and Floor of ", b, " = ", math.floor(b))
print("Absolute Value of ", a, " = ", math.fabs(a), "and Absolute Value of ", b, " = ", math.fabs(b))
print("Remainder of a/b: ", math.fmod(a, b))
print("Trunc of ", a, " = ", math.trunc(a), "and Trunc of ", b, " = ", math.trunc(b))
print("a^b = ", math.pow(a, b))
print("SquareRoot of ", a, " = ", math.sqrt(a), "SquareRoot of ", b, " = ", math.sqrt(b))

Enter Numbers: 1.4 4.8
Ceil of  1.4  =  2 and Ceil of  4.8  =  5
Floor of  1.4  =  1  and Floor of  4.8  =  4
Absolute Value of  1.4  =  1.4 and Absolute Value of  4.8  =  4.8
Remainder of a/b:  1.4
Trunc of  1.4  =  1 and Trunc of  4.8  =  4
a^b =  5.0282234746967465
SquareRoot of  1.4  =  1.1832159566199232 SquareRoot of  4.8  =  2.1908902300206643

Arithmetic Calculator

In [ ]:
a, o, b = input().strip().split()
a, b = int(a), int(b)
if o == '+':
  print(a+b)
elif o == '-':
  print(a-b)
elif o == '*' or o == 'x':
  print(a*b)
elif o == '/':
  print(a/b)
elif o == '%':
  print(a%b)
else:
  print("Invalid Input!!!")

5 x 5
25

Grade of a Student

In [ ]:
print("Marks Obtained in-")
eng = float(input("English: "))
hin = float(input("Hindi: "))
mat = float(input("Maths: "))
sci = float(input("Science: "))
sst = float(input("Social Studies: "))
avg = (eng+hin+mat+sci+sst)/5
if avg > 90:
  print('Grade: A+')
elif avg > 80:
  print('Grade: A')
elif avg > 70:
  print('Grade: B')
elif avg > 60:
  print('Grade: C')
elif avg > 50:
  print('Grade: D')
elif avg >= 40:
  print('Grade: E')
else:
  print('FAIL Grade: F')

Marks Obtained in-
English: 40
Hindi: 97
Maths: 56
Science: 78
Social Studies: 64
Grade: C

Even/Odd in a Range

In [ ]:
a, b = map(int, input().split())
ct_even, ct_odd = 0, 0
print("Even Numbers: ")
for i in range(a, b+1):
  if i%2 == 0:
    print(i)
    ct_even+=1
print("Count of Even Numbers: ", ct_even)
print()
print("Odd Numbers: ")
for i in range(a, b+1):
  if i%2 != 0:
    print(i)
    ct_odd+=1
print("Count of Odd Numbers: ", ct_odd)

42 56
Even Numbers:
42
44
46
48
50
52
54
56
Count of Even Numbers:  8

Odd Numbers:
43
45
47
49
51
53
55
Count of Odd Numbers:  7

Factorial

In [ ]:
n = int(input("Number: "))
fact = 1
for i in range(1, n+1):
  fact*=i
print("Factorial: ", fact)

Number: 5
Factorial:  120

GCD Greatest Common Divisor

In [ ]:
a, b = map(int, input().split())
i = 1
while i<=a and i<=b:
  if a%i == 0 and b%i == 0:
    gcd = i
  i+=1
print("GCD: ", gcd)

24 40
GCD:  8

Fibonacci

In [ ]:
a = 0
b = 1
n = int(input("Number: "))
print(a)
print(b)
for i in range(0, n-2):
  a, b = b, a+b
  print(b)

Number: 8
0
1
1
2
3
5
8
13

Palindrome

In [ ]:
n = int(input("Number: "))
n = str(n)
rev = n[::-1]
if n == rev:
  print("Palindrome")

Number: 12321
Palindrome

Strong

In [ ]:
import math
n = int(input('Number: '))
strn = str(n)
strong = 0
for i in strn:
  strong+=math.factorial(int(i))
if strong == n:
  print('Strong')
else:
  print('Not Strong')

Number: 145
Strong

Perfect

In [ ]:
n = int(input('Number: '))
dsum = 0
for i in range(1, n):
  if n%i == 0:
    dsum+=i
if dsum == n:
  print('Perfect')
else:
  print('Not Perfect')

Number: 6
Perfect

Compound Interest Using Loop

In [ ]:
principal = float(input('Pricipal: '))
rate = float(input('Rate: '))
amount = 1
for t in range(1,21):
  print(t, ': ', '{:.2f}'.format(principal*((1+(rate))**(t))))

Pricipal: 1000
Rate: 0.34
1 :  1340.00
2 :  1795.60
3 :  2406.10
4 :  3224.18
5 :  4320.40
6 :  5789.34
7 :  7757.71
8 :  10395.33
9 :  13929.75
10 :  18665.86
11 :  25012.25
12 :  33516.42
13 :  44912.00
14 :  60182.08
15 :  80643.98
16 :  108062.94
17 :  144804.34
18 :  194037.81
19 :  260010.67
20 :  348414.30