<a href="https://colab.research.google.com/github/RishiJaiswal1359/pyhton_new/blob/module_2/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

nCr Function

In [ ]:
import math

def C(n, r):
  return math.factorial(n)/(math.factorial(n-r)*math.factorial(r))

n = int(input('n: '))
r = int(input('r: '))
print(C(n, r))

n: 12
r: 2
66.0

GCD Recursive

In [ ]:
def gcdf(x, y, i, gcd):
  if i<=x and i<=y:
    if (x%i == 0) and (y%i == 0):
      gcd = i
      return gcdf(x, y, i+1, gcd)
    else:
      return gcdf(x, y, i+1, gcd)
  else:
    return gcd

n1 = int(input('Number1: '))
n2 = int(input('Number2: '))
gcd = gcdf(n1, n2, 1, 1)
print(gcd)

Number1: 24
Number2: 42
6

Product Recursion

In [ ]:
def product(x, y):
  if x!=1:
    y+=product(x-1, y)
  return y

x = int(input('Number 1: '))
y = int(input('Number 2: '))
z = product(x, y)
print(z)

Number 1: 10
Number 2: 2
20

Fibonacci Recursion

In [ ]:
def recfibo(x, a, b):
  if(x!=0):
    print(b)
    recfibo(x-1, b, a+b)


n = int(input('Number of Terms: '))
print(0)
recfibo(n, 0, 1)

Number of Terms: 8
0
1
1
2
3
5
8
13
21

Removing List ELements

In [ ]:
l = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
del l[5]
del l[4]
del l[0]
print(l)

['Green', 'White', 'Black']

List Difference

In [ ]:
l1 = list(input().split())
l2 = list(input().split())
l3 = []

for i in (l1+l2):
  if (not (i in l1)) + (not (i in l2)):
    l3.append(i)

print(l3)

1 2 3 4
2 4 6 8
['1', '3', '6', '8']

Second Smallest and Largest

In [ ]:
l = list(input("Enter the List: ").split())
l.sort()

for i in range(0, len(l)-1):
  if l[i] != l[0]:
    print(l[i])
    break

for i in range(-1, -len(l), -1) :
  if l[i] != l[-1]:
    print(l[i])
    break

Enter the List: 1 2 3 4 4 3 2 1
2
3

Number Sqaure Tuples

In [ ]:
l = list(map(int, input('List: ').split()))
sqtlist = []
for i in l:
  sqtlist.append((i, i**2))
print(sqtlist)

List: 1 2 3 4
[(1, 1), (2, 4), (3, 9), (4, 16)]

Tuple Removal

In [ ]:
l = eval(input('List of Tuples: '))
r = int(input('Length: '))
for i in l:
  if len(i) == r:
    l.remove(i)
print(l)

List of Tuples: [ (2,3) , (4,5,6) , (7,8) , (9,) ]
Length: 2
[(4, 5, 6), (9,)]

Dictionary Generator

In [ ]:
n = int(input('Number: '))
ndict = dict()
for i in range(1, n+1):
  ndict.update({i: i**2})
print(ndict)

Number: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Removing a Key

In [ ]:
dic = eval(input('Dictionary: '))
x = 'y'
while x == 'y':
  item = input('Key: ')
  if item in dic.keys():
    dic.pop(item)
  else:
    print('Element not present in the dictionary.')

  print(dic)
  
  x = input('Do you want to continue(y/n): ')

Dictionary: {'Rishi' : 101, 'Swayam' : 100, 'Mohana' : 70, 'Yogindar' : 0}
Key: Yogindar
{'Rishi': 101, 'Swayam': 100, 'Mohana': 70}
Do you want to continue(y/n): y
Key: Sagar
Element not present in the dictionary.
{'Rishi': 101, 'Swayam': 100, 'Mohana': 70}
Do you want to continue(y/n): n

Maximum and Minimum Dictionary

In [ ]:
dic = eval(input('Dictionary: '))
values = list(dic.values())
values.sort()
print('Maximum: ', values[-1])
print('Minimum: ', values[0])

Dictionary: {'Rishi' : 101, 'Swayam' : 100, 'Mohana' : 70, 'Yogindar' : 0}
Maximum:  101
Minimum:  0

String Splitting

In [ ]:
strn = input('String: ')
print(strn[8:3:-1])

String: Are bhaiya maaf kardo
yiahb

Accesing element

In [ ]:
st = input('String: ')
p = int(input('Position: '))
if p <= len(st):
  print(st[p])
else:
  print('Position out of range')

String: M name
Position: 4
m

Word Search

In [ ]:
st = input('String: ')
f = input('Search: ')
count = 0
for i in range(0, len(st)-len(f)+1):
  part = ''
  for j in range(0, len(f)):
    part += st[i+j]
  if f == part:
    count += 1
print(count)

String: toto gaya tokyo tower
Search: to
4

Word Replace

In [ ]:
st = input('String: ')
f = input('Search: ')
r = input('Replace: ')

st.replace(f, r)

String: toto gaya tokyo tower
Search: to
Replace: go

'gogo gaya gokyo gower'

Acronym

In [ ]:
st = input('String: ')
ac = ''
words = st.split()
for i in words:
  ac+=i[0].upper()
print('Acronym: ', ac)

String: My name is khan
Acronym:  MNIK

Upper and Lower Case Calculator

In [ ]:
st = input('String: ')
uc, lc = 0, 0
for i in st:
  if i.isupper():
    uc+=1
  elif i.islower():
    lc+=1

print('Upper Case: ', uc)
print('Lower Case: ', lc)

String: UlTra B
Upper Case:  3
Lower Case:  3

List of Strings

In [ ]:
lstn = eval(input('List of Strings: '))
c = 0
for i in lstn:
  if len(i) >= 2:
    if i[0] == i[-1]:
      c+=1
print(c)

List of Strings: ['abc', 'xyz', 'aba', '1221']
2