<a href="https://colab.research.google.com/github/RishiJaiswal1359/pyhton_new/blob/module_4/Module_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3 as sq
from datetime import *
con = sq.connect("database.db")
cur = con.cursor()

In [ ]:
import subprocess

Special Commands

In [ ]:

cur.execute('''CREATE TABLE stocks
                (date text, trans text, symbol text, qty real, price real)''')
cur.execute("INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)")
cur.execute("INSERT INTO stocks VALUES ('2006-03-28', 'BUY', 'IBM', 1000, 45.0)")
cur.execute("INSERT INTO stocks VALUES ('2006-04-06', 'SELL', 'IBM', 500, 53.0)")
cur.execute("INSERT INTO stocks VALUES ('2006-04-05', 'BUY', 'MSFT', 1000, 72.0)")
con.commit()

In [ ]:
for row in cur.execute('SELECT * FROM stocks ORDER BY price'):
  print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [ ]:
cur.execute("DROP TABLE employees")

In [ ]:
cur.execute('''CREATE TABLE employees
               (first_name text, hire_date numeric)''')
data = [
        ('Jane', date(2005, 2, 12)),
        ('Joe', date(2006, 5, 23)),
        ('John', date(2010, 10, 3))
]
stmt = "INSERT INTO employees (first_name, hire_date) VALUES (?, ?)"
cur.executemany(stmt, data)
for row in cur.execute('SELECT * FROM employees'):
  print(row)

('Jane', '2005-02-12')
('Joe', '2006-05-23')
('John', '2010-10-03')

In [ ]:
cur.execute('DROP TABLE demo')

In [ ]:
cur.executescript("""
                  create table demo(
                    id,
                    name
                  );
                  insert into demo values ('7058', 'sravan kumar');
                  insert into demo values ('7059', 'Jyothika');
                  insert into demo values ('7072', 'Harsha');
                  insert into demo values ('7075', 'Deepika');
                  
""")

for i in cur.execute("SELECT * FROM demo"):
  print(i)

('7058', 'sravan kumar')
('7059', 'Jyothika')
('7072', 'Harsha')
('7075', 'Deepika')

In [ ]:
print(f'Change = {con.total_changes}')

Change = 20

In [ ]:
con.rollback()

In [ ]:
con.commit()

In [ ]:
print(cur.fetchone())

None

In [ ]:
print(cur.fetchmany(4))

[]

In [ ]:
print(cur.fetchall())

[]